
.channels {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 696px;
    margin-top: 27px;
    margin-bottom: 72px;
    /*opacity: 0;*/
    /*transition: opacity 0.3s;*/
}
.channels__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;
    overflow: auto;
    margin-left: -16px;
    margin-right: -16px;
    opacity: 0;
    transition: opacity 0.2s;
}
@media (max-width: 1240px) {
    .channels__list {
        margin-left: 0;
        margin-right: 0;
    }
}
.channels__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 8px;
    padding: 21px 0 13px 0;
    background-color: #F2F2F2;
    border-radius: 8px;
}
@media (max-width: 1240px) {
    .channels__item {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 500px) {
    .channels__item {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
}
.channels__item:first-child {
    margin-top: 0;
}
.channels__logo-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33.9%;
}
.channels__logo {
    max-width: 120px;
    max-height: 70px;
}
.channels__info {
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 66.1%;
    width: 100%;
}
@media (max-width: 500px) {
    .channels__info {
        margin-top: 10px;
        max-width: 90%;
    }
}
.channels__title {
    margin: 0;
    font-weight: 500;
}
@media (max-width: 500px) {
    .channels__title {
        text-align: center;
    }
}
.channels__list::-webkit-scrollbar-track {
    background-color: #F2F2F2;
    border-radius: 2px;
}
.channels__list::-webkit-scrollbar {
    width: 8px;
}
.channels__list::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #BDBDBD;
    -webkit-box-shadow: inset 0 0 0 2px rgba(242,242,242,1);
    -moz-box-shadow: inset 0 0 0 2px  rgba(242,242,242,1);
    box-shadow: inset 0 0 0 2px rgba(242,242,242,1);
}