
.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
}
.modal--shown {
    display: -ms-flexbox;
    display: flex;
}
.modal--hidden {
    display: none;
}
.modal--invisible {
    opacity: 0;
}
.modal__container {
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 304px;
    height: 394px;
    padding: 36px;
    background-color: white;
    border-radius: 8px;
}
@media (max-width: 440px) {
    .modal__container {
        width: auto;
    }
}
.modal__title {
    font-size: 28px;
    text-align: center;
}
.modal__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}
.modal__form--animation {
    animation: 0.2s trambling-animation;
}
.modal__login-label {
    margin-top: 17px;
}
.modal__remember-label {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
    font-size: 16px;
}
.modal__remember {
    display: none;
}
.modal__remember-box {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #333333;
    border-radius: 4px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuMTgxODIgNi4wMjI3M0wwLjc5NTQ1NSAzLjYzNjM2TDAgNC40MzE4MkwzLjE4MTgyIDcuNjEzNjRMMTAgMC43OTU0NTRMOS4yMDQ1NSAwTDMuMTgxODIgNi4wMjI3M1oiIGZpbGw9IiNFNTI2MUUiLz48L3N2Zz4=) 300% 0 no-repeat;
}
.modal__remember:checked ~ .modal__remember-box {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuMTgxODIgNi4wMjI3M0wwLjc5NTQ1NSAzLjYzNjM2TDAgNC40MzE4MkwzLjE4MTgyIDcuNjEzNjRMMTAgMC43OTU0NTRMOS4yMDQ1NSAwTDMuMTgxODIgNi4wMjI3M1oiIGZpbGw9IiNFNTI2MUUiLz48L3N2Zz4=) 50% 50% no-repeat;
}
.modal__confirm {
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: auto;
}
.modal__background {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}
.modal__prompt {
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    color: #E5261E;
}
@keyframes trambling-animation {
    0%,
    50%,
    100% {
        transform: translateX(5px);
    }
    25% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-5px);
    }
}