
footer {
    width: 100%;
    margin-top: auto;
    padding: 22px 0 25px 0;
    background-color: #F2F2F2;
}
.footer__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
}
.footer__img {
    margin-right: 40px;
}
.footer__contacts {
    font-size: 16px;
    line-height: 19px;
}
.footer__address {
    margin: 0 0 6px 0;
}
.footer__base-link {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    color: #1F4766;
}